.btn {
    position: absolute;
    inset-inline-start: 50%;
    inset-block-end: 0;
    transform: translate(-50%, 50%);
    background-color: var(--white);
    width: 12rem;
    border-radius: 2rem;

    .add-btn {
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid var(--clr-Rose500);
        border-radius: 2rem;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--clr-Red);
        border-radius: 2rem;
        padding: 0.75rem 1.5rem;
        color: white;

        .qty-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            border-radius: 50%;
            width: 1.25rem;
            height: 1.25rem;
            background-color: transparent;

            &:hover{
                cursor: pointer;
                background-color: var(--clr-Rose50);
            }

            &:hover img{
                filter: invert(27%) sepia(82%) saturate(7500%) hue-rotate(353deg) brightness(91%) contrast(98%);
            }
        }
    }
}